<div class="container">
    <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1">Número de maleta</label>
            <input type="text" class="form-control" formControlName="id">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Usuario</label>
            <input type="text" class="form-control" formControlName="user">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Color</label>
            <input type="text" class="form-control" formControlName="color">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Peso</label>
            <input type="text" class="form-control" formControlName="weight">
        </div>
        <div class=" form-group">
            <label for="exampleFormControlInput1">Costo de envío</label>
            <input type="text" class="form-control" formControlName="cost">
        </div>
        <br>
        <div class="relative">
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                (click)="addBaggage()">Save</button>
            <button type="button" class="btn btn-dark" (click)="leave()" style="margin-right: 10px;">Leave</button>
        </div>

    </form>
</div>