<h3 style="margin-top: 0.5cm;">BagCars</h3>
<table class="table table-dark table-striped" style="width: 25cm; margin-top: 0.5cm;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Vuelo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hyundai</td>
      <td>2012</td>
      <td><app-car-form></app-car-form></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Suzuki</td>
      <td>2018</td>
      <td><app-car-form></app-car-form></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toyota</td>
      <td>2022</td>
      <td><app-car-form></app-car-form></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Honda</td>
      <td>2021</td>
      <td><app-car-form></app-car-form></td>
    </tr>
  </tbody>
</table>
