#content {
  width: 595px;
  height: 842;
}
#titulo{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 33px;
  font-weight: bold;
}

#nombre{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
}
#cedula{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
}
