<h3 id="titulo">Registro de trabajadores</h3>
<br>
<button id="addTrabajadores" type="button" class="btn btn-dark" (click)="addWorker()">Agregar Trabajador</button>
<br>
<br>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let worker of workers">
            <th scope="row">{{ worker.nombre1 }} {{ worker.nombre2 }}</th>
            <td>{{ worker.apellido1 }} {{ worker.apellido2 }}</td>
            <td>{{ worker.cedula }}</td>
            <td>{{ worker.rol }}</td>
            <td>{{ worker.correo }}</td>
        </tr>
    </tbody>
</table>
