<div class="container ">
    <div class="row">
        <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
            <div class="login-title text-center">
                <h2><span>Registrar trabajador</span></h2>
            </div>
            <div class="login-content">
                <div class="login-header ">
                    <h5>Por favor agregue la información requerida a continuación</h5>
                </div>
                <div class="login-body">
                    <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">

                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-username" type="text" name="form-username" placeholder="Nombre"
                                    class="form-username form-control">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-lastname" type="text" name="form-lastname" placeholder="Apellidos"
                                    class="form-lastname form-control">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group ">
                            <div class="pos-r">
                                <input id="form-id" type="text" name="form-id" placeholder="Cédula"
                                    class="form-id form-control">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="role title ">
                            <h5>Elije el rol del trabajador</h5>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Embarcador
                            </label>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Scan
                            </label>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">
                                Administrador
                            </label>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label" for="flexRadioDefault4">
                                Recepcionista
                            </label>
                        </div>
                        <div class="br">
                            <br>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                class="btn btn-primary form-control"><strong>Registrar</strong></button>
                        </div>

                    </form>
                </div> <!-- end  login-body -->
            </div><!-- end  login-content -->

        </div> <!-- end  login-container -->

    </div>
</div><!-- end container -->