<h3 style="margin-top: 0.5cm;">Equipaje</h3>
<br>
<button type="button" class="btn btn-dark" (click)="addBaggage()" >Agregar maleta</button>
<button type="button" class="btn btn-dark" routerLink="/report" style="margin-left: 0.5cm;"(click)="getUserBaggage()">Reporte Maletas por Usuario</button>
<button type="button" class="btn btn-dark" routerLink="/report" style="margin-left: 0.5cm;" (click)="getBaggageConciliation()">Conciliación de maletas</button>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let suitcase of baggage">
            <th scope="row">{{ suitcase.id }}</th>
            <td>{{ suitcase.user }}</td>
            <td>{{ suitcase.color }}</td>
            <td>{{ suitcase.weight }} kg</td>
            <td>{{ suitcase.cost }} $</td>
            <td>{{ suitcase.flight }}</td>
        </tr>
    </tbody>
</table>
